.is-flex {
  display: flex;
  justify-content: space-evenly;
}

.box {
  position: relative;
  width: 40vw;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-top: solid 4px;
}

@media print {
  .box {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}
